
#presentacion {
    display: flex;
    flex-direction: row;
    padding-inline: 60px;
    margin-block: 30px;
    height: 400px;
}

#presentacion article {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#presentacion img {
    height: inherit;
    flex-shrink: 0;
    border-radius: 25px;
}

#presentacion h2,
#logros h2 {
    margin-bottom: 10px;
}

#logros {
    display: flex;
    padding-inline: 60px;
    align-items: center;
    justify-content: space-between;
    background-color: #F2C2CF;
}

#logros>section{
    padding-block: 30px;
}
#logros>section h2{
    margin-top: 0px;
}

#logros p {
    flex-shrink: 0;
    text-align: justify;
    font-weight: 300;
    line-height: 1.17;
}

#line {
    width: 6px;
    height: 200px;
    background-color: black;
    margin-inline: 30px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    #presentacion {
        flex-direction: column;
        align-items: center;
        padding-inline: 20px;
        margin-block: 15px;
        height: auto;
    }

    #presentacion img {
        width: 50%;
        height: auto;
        margin-bottom: 20px;
    }

    #presentacion article {
        margin-left: 0;
        text-align: left;
    }

    #presentacion article h1,h3{
        margin-left: 0;
        text-align: center;
    }

    #logros {
        flex-direction: column;
        padding-inline: 20px;
    }

    #line {
        display: none;
    }

    #logros>section {
        padding-block: 10px;
    }
}
